<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301t4.gameswap" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
 //android:theme="@style/AppTheme"
        <activity android:name=".Activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.selectTaskActivity" >
        </activity>
        <activity
            android:name=".Activities.CreateProfileActivity"
            android:parentActivityName=".Activities.MainActivity" >
        </activity>
        <activity
            android:name=".Activities.myInventoryActivity"
            android:parentActivityName=".Activities.selectTaskActivity" >
        </activity>
        <activity
            android:name=".Activities.FriendsNTradingActivity"
            android:parentActivityName=".Activities.selectTaskActivity" >
        </activity>
        <activity
            android:name=".Activities.TradesActivity"
            android:parentActivityName=".Activities.selectTaskActivity" >
        </activity>
        <activity
            android:name=".Activities.SearchFriendActivity"
            android:parentActivityName=".Activities.FriendsNTradingActivity" >
        </activity>
        <activity
            android:name=".Activities.SearchPeopleActivity"
            android:parentActivityName=".Activities.FriendsNTradingActivity" >
        </activity>
        <activity
            android:name=".Activities.ViewFriendInventoryActivity"
            android:parentActivityName=".Activities.FriendsNTradingActivity" >
        </activity>
        <activity
            android:name=".Activities.FriendProfileActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.EditProfileActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.EditItemActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.MyProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Activities.selectTaskActivity" >
        </activity>
        <activity
            android:name=".Activities.AddItemActivity"
            android:label="@string/title_activity_add_item" >
        </activity>
        <activity
            android:name=".Activities.TopTradesActivity"
            android:label="@string/title_activity_top_trades" >
        </activity>
    </application>

</manifest>
